@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.css';

@import 'fonts.css';

@import 'component/admin/cargaDatos.scss';
@import 'component/admin/flotilla.scss';
@import 'component/admin/fotoMultas.scss';
@import 'component/admin/pagosVWFS.scss';
@import 'component/admin/tarjetasDeGasolina.scss';
@import 'component/admin/mantenimiento.scss';
@import 'component/admin/appSettings.scss';
@import 'component/admin/appMessages.scss';
@import 'component/admin/verificaciones.scss';
@import 'component/admin/consumoGasolina.scss';
@import 'component/admin/catalogoSistema.scss';
@import 'component/admin/usuarios.scss';
@import 'component/admin/perfiles.scss';
@import 'component/companyCar/solicitud.scss';
@import 'component/companyCar/asignacion.scss';

@import 'component/masterlist/modificar.scss';
@import 'component/masterlist/traspaso.scss';
@import 'component/masterlist/prorroga.scss';
@import 'component/masterlist/baja.scss';
@import 'component/masterlist/detalle.scss';

body{
  font-family: "AudiType-ExtendedNormal";
}

.txtencabezado
{
  font-size: 20px;
  font-weight: bold;
  padding-left: 2px;
  margin: 2px 2px;
  font-family: "AudiType-Normal";
}

.txtbody
{
  font-size: 12px;
  font-family: "AudiType-Normal";
}

.textmenu{
  font-family: "AudiType-ExtendedNormal";
  font-weight: bolder;
}

#banner {
  width: 50%;
  height: 55px;
  position: relative;
  overflow: visible;
  margin: 0 0 0 auto;
  background: #fff;
}

#banner:before {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -30px;
  background: #f50437;
  transform: skew(-45deg);
  height: 100%;
  width: 30%;
}

#banner .content {
  margin-left: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  background: transparent;
}

#bannerfooter {
  width: 50%;
  height: 55px;
  position: relative;
  overflow: visible;
  margin: 0 0 0 auto;
  background: #f50437;
}

#bannerfooter:before {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -30px;
  background: #f50437;
  transform: skew(-45deg);
  height: 100%;
  width: 30%;
}

#bannerfooter .content {
  margin-left: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  background: transparent;
}

.MenuDesktop {
  position: absolute;
  width: 95%;
  top: 80px;
  /* opacity: 0.5; */
  flex-direction: row;
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  font-weight: bold;
}

.Tiulo {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 20px;
  font-family: "AudiType-Normal";
  font-weight: bolder;
  font-style: italic;
}

.TiuloFleet {
  color: #f50437;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 30px;
  font-family: "AudiType-Normal";
  font-weight: bolder;
  font-style: italic;
}

.imgLogo {
  width: 120px;
  padding-left: 10px;
  padding-top: 10px;
}

.imgSalir {
  width: 50px;
  padding-top: 730px;
}

.imgLogin {
  width: 20px;
  padding-right: 5px;
}

.zdiv {
  z-index: 3;
  height: 100%;
  width: 100%;
  border: 1px solid #0f0f0f;
  margin: 0 0;
  background: white;
  opacity: 0.8;
}
.building {
  background: url("images/HomeBackground.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  z-index: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "AudiType-Normal";
  font-weight: bolder;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #f50537;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f50537;
}

.dropdown:hover .dropdown-content {
  display: block;
}
