#masterlist-detalle{
    position: relative;
    margin:4.16% 4.16%;
    .detalle{
        width: 100%;
        height: auto;
        .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
          top: 5px;
        }       
    }
}