#Carga{
    position: relative;
    margin:4.16% 4.16%;
    .selection-carga{
        height:auto;
        .title{
             font-weight: bold;
             font-size: 18px !important;
             line-height: 24px;
             display: flex;
             color: #000000;
        }
        .v-label{
            font-size: 18px !important;
            line-height: 20px;
            display: flex;
            color: #000000;
        }
     }
}