.__logo{
	display: flex;
	align-items: center;
	@media (min-width: 959px) {
		flex-direction: column;
		img {
			width: 60px;
		}
	}
	@media (min-width: 1440px) {
		flex-direction: row;
	}
}
.__menu {
	@media (min-width: 959px) {
		padding-left: 10px;
	}
	@media (min-width: 1440px) {
		padding-left: 50px;
	}
}
